<%= form_for(@row) do |f| %>
  <% if @row.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@row.errors.count, "error") %> prohibited this row from being saved:</h2>

      <ul>
      <% @row.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :column_id %><br />
    <%= f.number_field :column_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
